@charset "utf-8";
/* CSS Document */

	#content{
		float:left;
		height:70%;
		width:80%;
		margin-top:-18px;
	}
	
	#information1{
		width:1078px;
        height:65px;margin-top:-20px;
		margin-left:238px;float:left;
	}
	
	 #information2{
		 width:1078px;height:65px;
		 float:left;
	 }
	 
	 
	#font-face-display {
    	font: 90px ChantelliAntiquaRegular, Helvetica, sans-serif;
		width:360px;
		margin-left:35px;
		color:#690;
		float:left;
		text-shadow: 7px 7px 7px black;
	}
	 
	#center{
		border:0px solid #F00;margin:0;padding:0; 
		height:100%;
		width:100%;
	}

	#b{
		text-decoration:none;
		display:block;line-height:15px;
		width:160px;text-align:center;
	}
	
	a:hover{background-color:#CCC;color:#FFF;height:40px;margin-top:-3px;line-height:40px}

	#text{letter-spacing:7px;font-size:22px;}
	
	#button{width:222px;margin-top:7px;margin-left:-16px;}
	
	#background{width:100%;height:55px;height:65px;}