@charset "utf-8";
/* CSS Document */
	#big
	{
		background-color:#FFF;
		width:100%;
		height:617px;
		float:left;
	}
	
		
	#so
	{
		width:130px;
		height:110px;
		float:left;
	}
	
	#f{float:left;}
	
	#font-face-display {
    	font: 90px ChantelliAntiquaRegular, Helvetica, sans-serif;
		width:360px;
		margin-left:35px;
		color:#690;
		float:left;
		text-shadow: 7px 7px 7px black;
	}
	
	#s
	{
		background-color:#FFF;
		width:560px;
		height:110px;
		margin-left:350px;
		padding-top:150px;
		
	}

	#text
	{
		background-color:#FFF;
		margin-top:150px;
		width:550px;
		height:60px;
	}
	
		
	#t1
	{
		border-radius: 20px;
		height:50px;
		width:560px;
	}
	#img
	{
		margin-left:600px;
		position:absolute;
		top:300px;
	}
