*{
    padding: 0px;
    margin: 0px;
}

.xlcd:before{padding-left:10px; content:"﹀"}
.xlcd{width:20px;height:20px; margin-top:15px !important; 
transform:rotate(-90deg);
-ms-transform:rotate(-90deg); /* Internet Explorer */
-moz-transform:rotate(-90deg); /* Firefox */
-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
-o-transform:rotate(-90deg); /* Opera */}
.xlcddown:before{padding-left:10px; content:"﹀"}
.xlcddown{
	width:20px;height:20px; margin-top:2px !important; 
	}
.sz:after{content:url(../images/set.png); float:right; margin:14px 10px 0 0}
.icon-chevron-right1:before{padding-left:10px; content:url(../images/bi.png)}
.icon-chevron-right2:before{padding-left:10px; content:url(../images/menu.png)}
.icon-chevron-right3:before{padding-left:10px; content:url(../images/w_cloud.png)}
.icon-user:before {}
.icon-signout:before {}
.glyph-icon{vertical-align:middle;font-family: FontAwesome;font-size:12px;font-style: normal; margin-top:4px; float:left;}


html,body{height:100%;overflow:hidden;}
body{padding: 0px; margin:0px; line-height:1.6; font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif !important; color: #222;font-size: 14px;background-color: #e7e8eb;
}
ul,li{padding:0;margin:0}
/*顶部div*/
.top{background-color: #353636;  width: 100%; height: 50px; color:#fff;}

/*管理员设置*/
.ad_setting{cursor:pointer; border-left:1px solid #426262;  width: auto;padding:0 20px; height: 100%; float: right; line-height:30px; height:30px; margin-top:10px; position:relative}
.ad_setting:hover{ text-decoration:none; background: #3E3E3E;}
.ad_setting img.use_xl{ position:absolute; right:10px; bottom:0}
.ad_setting_a{text-align: center; font-size:13px; color:#CCC; /*color: #888;*/ text-decoration: none; display: block;}
.ad_setting_a:hover{color: #fff !important;    text-decoration: none;}
.ad_setting_a span{padding-right: 5px;    vertical-align:middle;}
.dropdown-menu-uu:after{position: absolute;top:-6px; right: 8px; left:auto; display:inline-block; border-right:6px solid transparent;border-bottom:6px solid #fff; border-left: 6px solid transparent; content:'';}
#ad_setting_ul{list-style: none; font-size: 12px !important; padding-top: 5px; padding-bottom: 5px; margin-top: 1px; background: #fff; border-radius: 5px; position: absolute; right: 2px;
    top: 40px;
    left: auto;
    z-index: 1000;
    width: 100px;
    border-color: #b8b8b8;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
    border-style: solid;
    border-width: 1px;
}
#ad_setting_ul li{line-height: 28px !important;margin:auto;width:90%;height:28px; text-align:center}
#ad_setting_ul li:hover{    background:#666;    border-radius: 5px;    color: white;}
.ad_setting_ul li{    color: #000000 !important;}
.ad_setting_ul_li a{    color: #000000 ;    text-decoration: none;}
.ad_setting_ul_li_a{    color: #fff !important;    text-decoration: none !important;}

#font-face-display {
		line-height: 45px;padding-left: 20px;
    	font: 32px ChantelliAntiquaRegular, Helvetica, sans-serif;
		color:#FFF;
		text-shadow: 4px 4px 4px #CCC;
	}
	
/*left-菜单*/
.left-menu{
    position:absolute;
    float: left;
    min-height: 100%;
    box-shadow: 0 0 10px #BDBDBD;
    width: 180px;
    background: #32323a;
}
#menu{ float:left; width:100%; list-style: none; line-height: 38px; color: #fff !important;}
#menu ul{list-style: none; background:#fff}
#menu li{color: #fff; float:left;width:100%}
#menu a{text-decoration: none;}
#menu a:hover{text-decoration: none;}
#menu>li>a {background:#3c3c46;font-weight: 700; display: block;border-top:solid 1px #444; color:#fff; font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;}
#menu li ul{ width:100%; float:left;/*display:block !important;*/}

.menu-list ul{margin-bottom: 1px; line-height: 38px;}
.menu-list ul li{height:38px !important; border-bottom:solid 1px #3c3c46}
.menu-list a{ background:#32323a;height:38px;}
.menu-list a:hover{ color: #fff !important;}
.menu-list a i{opacity:1; padding-left: 10px; padding-right: 10px;}
.menu-list ul a{color: #fff; display: block;}
.menu-list ul a:hover{background: #0c89ff; color: #fff;}

.specialclass{ background:#0c89ff !important}


/*main内容显示*/
.right-content{
    margin-left: 180px;
	background:#999;
    height: 100%;
    min-height:85%;
   
	overflow-y:auto;
}

.content{background-color:#666;position: relative; min-height: 8%; /*background: #f5f5f5;*/ margin-top:0px;  }
#page_content{position: absolute; width: 100%; height: 100%;}

/*底部版权*/


/*登录模块*/
.nav_top{width:100%;height:60px; margin:auto; border-bottom:solid 1px #e8e8e8}
.nav_tcon{width:980px; height:60px;margin:auto;}
.nav_tcon .logoimg{width:35px; height:35px; float:left; margin-top:12px;}
.nav_tcon .logoimg>img{width:35px; height:35px}
.nav_tcon .logotitle{ float:left;height:35px; margin-top:12px;width:100px; margin-left:5px}
.nav_tcon .logotitle>span{width:100%; float:left; font-size:22px; font-weight:bold; font-family:"微软雅黑"; color:#666666; float:left; line-height:20px;}
.nav_tcon .logotitle>p{font-size:12px; color:#999}
.nav_tcon .logoname{ float:left;height:35px; line-height:35px; margin-top:12px;font-size:17px; font-weight:bold; font-family:"微软雅黑"; color:#777777;}

.logo_content{width:100%;height:auto; display:table; padding:35px 0 50px 0; border-bottom:solid 1px #e8e8e8}
.logo_ccon{width:920px; height:auto;margin:auto;display:table}
.logobei{ float:left;}

.logo_enter{ float:right;width:290px; height:440px; border:solid 1px #cfcfcf; margin-top:15px}
.logo_enter>span{width:260px; margin:18px 15px 2px 15px; float:left;padding:0 0 2px 0}
.logo_enter>span>a{ float:right; font-size:12px; color:#0c89ff}
.logo_enter>input{ float:left;width:260px; margin:0 15px; height:40px; border:solid 1px #cfcfcf; text-indent:0.5em; font-size:16px;}
.logo_enter>button{ float:left;width:260px; margin:0 15px;height:45px; background:#0c89ff; color:#fff; border:0; font-size:18px; margin-top:18px; cursor:pointer}
.logo_enter>img.logo_ewm{width:106px; height:106px; margin:15px 92px}
.logo_enter .logo_zc{width:100%; float:left; text-align:center; }
.logo_enter .logo_zc>a{font-size:12px; color:#0c89ff}

/*底部版权*/
.down_info{display:table;width:100%; margin:30px auto 0 auto; text-align:center}
.information{width:100%; height:25px; text-align:center}
.information>a{ text-decoration:none; color:#444; font-family:"微软雅黑"}
.down_info>p{width:100%; text-align:center; color:#999; font-size:11px; margin-top:2px}




