@charset "utf-8";
/* CSS Document */

	

	#font {
    	font: 66px ChantelliAntiquaRegular, Helvetica, sans-serif;
		background-color:#FFF;
		width:430px;
		height:60px;
		position:absolute;
		margin-left:800px;
		margin-top:5px;
		color:#690;
		float:left;
		text-shadow: 7px 7px 7px black;
		}

	#text
	{
		background-color:#FFF;
		margin-top:150px;
		width:550px;
		height:60px;
	}
	


	
	#img1
	{
		margin-left:720px;
		position:absolute;
		top:10px;
	}

	#t2
	{
		border-radius: 10px;
		height:35px;
		width:550px;
		margin-top:-50px;
		margin-left:150px;
		float:left;
	}
	
	
	#b
	{
		height:42px;
		width:100px;
		margin-top:40px;
		border:none;
	}
	
	#d1
	{
		background-color:#FFF;
		width:1340px;
		height:60px;
		float:left;	
		margin-top:25px;
	}

	#d2
	{
		background-color:#D7F5D1;
		width:1340px;
		height:70px;
		float:left;
		margin-bottom:30px;
	}
	
	#left
	{
		background-color:#FFF;
		width:100px;
		height:1040px;
		float:left;
	}
	
	#title
	{
		margin-top:10px;
		
	}	
	
	#center
	{
		background-color:#FFF;
		width:650px;
		height:770px;
		float:left;
	}

	
	#about
	{
		background-color:#FFF;
		width:650px;
		height:130px;
		float:left;
	}
	

	#picture
	{width:80px;height:60px;float:left;}
	
	#a1
	{
		margin-left:0px;
		text-decoration:none;	
	}
	
	#a2
	{
		margin-left:30px;
		text-decoration:none;
	}
	
	#d8
	{
		background-color:#D7F5D1;
		height:69px;
		width:1340px;
		float:left;
	}
	
	#dd
	{
		width:600px;
		height:20px;	
	}
	
	#table1
	{
		width:600px;
		hight:200px;
		margin-left:70px;
		margin-top:10px;
		font-size:16px;
	}
	
	#table2
	{	
		width:300px;
		hight:100px;
		color:#999;
	}

	
	#small
	{
		background-color:#D7F5D1;
		width:100px;
		height:60px;
		float:left;
	}
	
	#long
	{
		background-color:#D7F5D1;
		width:500px;
		height:40px;
		float:left;
		margin-top:20px;
	}
	
	#tt
	{font-size:14px;}
	
	#d4
	{
		background-color:#FFF;
		width:650px;
		float:left;
	}
		
	#smallright
	{
		background-color:#FFF;
		width:650px;
		height:60px;
		float:left;
		margin-top:0px;
	}
	
	#smallleft
	{
		background-color:#000;
		width:10px;
		height:60px;
		float:left;
		margin-left:0px;
		margin-top:10px;
	}
	
	#smallcenter
	{
		background-color:#FFF;
		width:520px;
		height:60px;
		text-align:center;
		margin-left:60px;
		
	}
	
	#s3
	{
		background-color:#D7F5D1;
		width:140px;
		height:70px;
		float:left;
	}
	
	#s4
	{
		background-color:#D7F5D1;
		width:520px;
		height:70px;
		text-align:center;
	}
	
	#button { 
		border-radius: 20px;
		background-color:#D7F5D1;
		width:100px;
		height:35px;
	} 
	
	div.button02{
		color: #333;
		font-size: 12px;
	}
	.box {
		border-top:thin;
		border-bottom:thin;
		border-left:thin;
		border-radius:5px;
		letter-spacing:10px;
		background:#0CF;
		color:#FFF;
		width:100px;
		font-size:16px;
		font-style:inherit;
		cursor: pointer;
		display: block;
		float:float;
		height:30px;
		text-align: center;
		margin-top:-43px;
		margin-left:54%;
		transition:all 1s ease-out;
		-webkit-transition: -webkit-box-shadow 0.5s ease-out;
		-moz-transition: -moz-box-shadow 0.5s ease-out;
		-o-transition: box-shadow 0.5s ease-out;
	}
	.box:hover {
		-moz-box-shadow: 0px 0px 15px #0099ff;
		-webkit-box-shadow: 0px 0px 15px #0099ff;
		 box-shadow: 0px 0px 5px #0099ff;
	}
	
	#f{font-size:14px;}
	
			
		#ScrollToTop{
			position:fixed;_position:absolute;z-index:4;right:15px;bottom:-10px;width:120px;right:2px;
			display:block;	
			font-size:15px;font-weight:800;text-align:center;border-width:1px 1px 0 1px;height:57px;
			border-style :solid;
		
			box-shadow:0 0 #fff,0 1px 3px rgba(34,25,25,0.5);
			-moz-box-shadow:0 0 #fff, 0 1px 3px rgba(34,25,25,0.5);
			-webkit-box-shadow:0 0 #fff, 0 1px 3px rgba(34,25,25,0.5);
			
			-moz-transition:bottom 250ms ease-in-out;
			-webkit-transition: bottom 250ms ease-in-out;
		}
		#ScrollToTop.Offscreen{
			bottom:-100px;
			-moz-transition-duration:250ms;
			-webkit-transition-duration:250ms;
		}
		
		.Button2.WhiteButton{
			background-color:#f0eded;
			background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, 
			from(#fdfafb), to(#f0eded), color-stop(.5,#f9f7f7),color-stop(.5,#f6f3f4));
			background-image:-moz-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
			background-image:-o-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
			background-image:-webkit-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
			border-color:#bbb;
			color:#524d4d;
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');
			text-shadow:0 1px rgba(255,255,255,0.9);
		}
		.Button2.WhiteButton:hover{
			background-color:#f2f0f0;
			background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, 
			from(#fdfcfc), to(#f2f0f0), color-stop(.5,#fbf9f9),color-stop(.5,#f7f5f6));
			background-image:-moz-linear-gradient(top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
			background-image:-o-linear-gradient(top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
			background-image:-webkit-linear-gradient(top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
			border-color:#c3c3c3;
			color:#666060;
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfc', endColorstr='#f2f0f0');
			text-shadow:0 1px rgba(255,255,255,1);
		}
		.Button2.WhiteButton:active{
			background-color:#ebe8e8;
			background-image:-webkit-gradient(linear, 0% 0%, 0% 100%,
			 from(#f8f4f5), to(#ebe8e8), color-stop(.5,#f3f0f0),color-stop(.5,#f1eeef));
			background-image:-moz-linear-gradient(top, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
			background-image:-o-linear-gradient(top, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
			background-image:-webkit-linear-gradient(top, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
			border-color:#b7b7b7;
			color:#454141;
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f4f5', endColorstr='#ebe8e8');
			text-shadow:0 1px rgba(255,255,255,0.8);
		}
		
		li{ list-style:none}

		