html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt,dd,ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
a{text-decoration:none;
outline:0;
}
body {
	line-height: 1;
	color: black;
	background: #f7f7f7;
	font-family: Arial, Helvetica, sans-serif;               
    font-size: 12px;	
}
.clear{clear:both;height:0;padding:0; margin:0; border:none;} 
/*会员名片提示层样式开始*/
.tl{width:14px;height:13px;position:absolute;top:-6px;left:20px;z-index:999;background:url(../images/widget_tip_t.gif) no-repeat;}
.tr{width:14px;height:13px;position:absolute;top:-6px;right:20px;background:url(../images/widget_tip_t.gif) no-repeat;}
.bl{width:14px;height:13px;position:absolute;top:177px;left:20px;z-index:999;background:url(../images/widget_tip_b.gif) no-repeat;}
.br{width:14px;height:13px;position:absolute;top:177px;right:20px;z-index:999;background:url(../images/widget_tip_b.gif) no-repeat;}
.lt{width:14px;height:13px;position:absolute;top:20px;left:-6px;z-index:999;background:url(../images/widget_tip_l.gif) no-repeat;}
.lb{width:14px;height:13px;position:absolute;bottom:20px;left:-7px;z-index:999;background:url(../images/widget_tip_l.gif) no-repeat;}
.rt{width:14px;height:13px;position:absolute;top:20px;right:-7px;z-index:999;background:url(../images/widget_tip_r.gif) no-repeat;}
.rb{width:14px;height:13px;position:absolute;bottom:20px;right:-7px;z-index:999;background:url(../images/widget_tip_r.gif) no-repeat;}
.user{width:290px;height:184px;border:0;margin:0;padding:0;font-size:12px;font-weight:normal;text-align:left;color:#000;position:absolute;left:0;top:0; background:#fff; display:none;}
.out{margin:0;padding:0;border:0;background:#DADADA;filter:alpha(opacity=80);opacity:0.8;height:100%;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.in{border:1px solid #CCC;background:#FFF;width:248px;height:142px;margin:0;padding:15px;position:absolute;top:5px;left:5px;overflow:hidden;}
.inload{border:1px solid #CCC;background:#FFF;width:248px;height:142px;margin:0;padding:15px;position:absolute;top:5px;left:5px;overflow:hidden;}
.userInfo1{cursor:pointer;width:50px;height:50px;}
.userInfo2{cursor:pointer;width:50px;height:50px;}
.userInfo3{cursor:pointer;width:50px;height:50px;}
.userInfo4{cursor:pointer;width:50px;height:50px;}
.in img{float:left;margin-right:15px;width:65px;height:75px;}
.in div{float:left;height:110px;width:160px; line-height:23px;}
.gzjy{ float:right; text-align:right;}
.gzjy a{ margin-left:10px; width:55px;}
/*会员名片提示层样式结束*/