@charset "utf-8";
/*在线客服代码*/
.rides-cs { background-color:#EAEAEA;position: fixed; top: 120px; right: 1px; _position: absolute; z-index: 999;}
.rides-cs a { color:#000;}
.rides-cs a:hover { color: #ff8100; text-decoration: none;}
.rides-cs .floatL { width: 36px; float:left; position: relative; z-index:1;}
.rides-cs .floatL a { font-size:0; text-indent: -999em; display: block;}
.rides-cs .floatR { width: 80px; float: left; padding: 5px; overflow:hidden;}
.rides-cs .floatR .cn { background: #F7F7F7; }
.rides-cs .cn h3 { font-size: 14px; color: #333; font-weight:600; line-height: 24px; padding: 5px}
.rides-cs .cn ul { padding: 0 0 0 8px;}
.rides-cs .cn ul li { line-height: 8px; height:90px; border-bottom: solid 1px #E6E4E4; overflow: hidden;}
.rides-cs .cn ul li span { color: #777;}
.rides-cs .cn ul li img { vertical-align: middle;}
.rides-cs .btnOpen, .rides-cs .btnCtn {  position: relative; z-index:9; top:0; left: 0;background-repeat: no-repeat; display:block; width:20px; height: 446px; padding: 8px;}
.rides-cs ul li.top { border-bottom: solid #ACE5F9 1px;}
.rides-cs ul li.bot { border-bottom: none;}

}
