@charset "utf-8";
/* CSS Document */
	#outline{
		width:800px;height:300px;
		margin-top:9%;margin-left:12%;
	}
	
	#Efonts{
		margin-top:-120px;
        font: 99px ChantelliAntiquaRegular, Helvetica, sans-serif;
		width:360px;
		margin-left:155px;
		color:#690;
		float:left;
		text-shadow: 7px 7px 7px black;
		}
	
	#Cfonts{
		font:55px ChantelliAntiquaRegular, Helvetica, sans-serif;
		width:360px;
		margin-left:415px;
		color:#D3D3D3;
		float:left;
		text-shadow: 5px 5px 5px black;
		}
	
	#logo{
		float:left;
		margin-top:50px;
	    }


